<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shang.wit.system.datacode.dao.DataCodeCategoryDao">
	<select id="findListByQuery" parameterType="DataCodeCategory" resultMap="resultMap">
		select
			dcc.id,
			dcc.name,
			dcc.code,
			dcc.status,
			dcc.createUser,
			dcc.createTime,
			dcc.updateUser,
			dcc.updateTime
		from
		sys_data_code_category dcc
		<where>
			<trim suffixOverrides="and">
				<if test=" id!=null and id!='' ">dcc.id=#{id} and</if>
				<if test=" name!=null and name!='' ">dcc.name like concat ('%',#{name},'%') and</if>
				<if test=" code!=null and code!='' ">dcc.code=#{code} and</if>
				<if test=" status!=null and status!='' ">dcc.status=#{status} and</if>
			</trim>
		</where>
	</select>

	<insert id="save" parameterType="DataCodeCategory">
		insert into sys_data_code_category(
		    <trim suffixOverrides=",">
			    <if test=" id!=null and id!='' ">id,</if>
			    <if test=" name!=null and name!='' ">name,</if>
			    <if test=" code!=null and code!='' ">code,</if>
			    <if test=" status!=null and status!='' ">status,</if>
			    <if test=" createUser!=null and createUser!='' ">createUser,</if>
			    <if test=" createTime!=null and createTime!='' ">createTime,</if>
			    <if test=" updateUser!=null and updateUser!='' ">updateUser,</if>
			    <if test=" updateTime!=null and updateTime!='' ">updateTime,</if>
		    </trim>
		) values(
		<trim suffixOverrides=",">
			<if test=" id!=null and id!='' ">#{id},</if>
			<if test=" name!=null and name!='' ">#{name},</if>
			<if test=" code!=null and code!='' ">#{code},</if>
			<if test=" status!=null and status!='' ">#{status},</if>
			<if test=" createUser!=null and createUser!='' ">#{createUser},</if>
			<if test=" createTime!=null and createTime!='' ">#{createTime},</if>
			<if test=" updateUser!=null and updateUser!='' ">#{updateUser},</if>
			<if test=" updateTime!=null and updateTime!='' ">#{updateTime},</if>
		</trim>
		)
	</insert>

	<update id="update" parameterType="DataCodeCategory">
		update sys_data_code_category
			<set>
				<trim suffixOverrides=",">
					<if test=" id!=null and id!='' ">id=#{id},</if>
					<if test=" name!=null and name!='' ">name=#{name},</if>
					<if test=" code!=null and code!='' ">code=#{code},</if>
					<if test=" status!=null and status!='' ">status=#{status},</if>
					<if test=" createUser!=null and createUser!='' ">createUser=#{createUser},</if>
					<if test=" createTime!=null and createTime!='' ">createTime=#{createTime},</if>
					<if test=" updateUser!=null and updateUser!='' ">updateUser=#{updateUser},</if>
					<if test=" updateTime!=null and updateTime!='' ">updateTime=#{updateTime},</if>
				</trim>
			</set>
		<where>
			<trim suffixOverrides="and">
				<if test=" id!=null and id!='' ">id=#{id} and </if>
			</trim>
		</where>
	</update>

	<resultMap id="resultMap" type="DataCodeCategory">
		<id property="id" javaType="java.lang.String" column="id"/>
		<result property="name" javaType="java.lang.String" column="name"/>
		<result property="code" javaType="java.lang.String" column="code"/>
		<result property="status" javaType="java.lang.String" column="status"/>
		<result property="createUser" javaType="java.lang.String" column="createUser"/>
		<result property="createTime" javaType="java.util.Date" column="createTime"/>
		<result property="updateUser" javaType="java.lang.String" column="updateUser"/>
		<result property="updateTime" javaType="java.util.Date" column="updateTime"/>
	</resultMap>

</mapper>